.adminDashboard table {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	background:yellow;
	margin-left:20px;
	border:#ccc 1px solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
	width:98%;
}
.adminDashboard table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
    color: white;
	background-color: #337ab7;
}
.adminDashboard table tr {
	text-align: center;
	padding-left:20px;
}
.adminDashboard table td {
	padding:5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.adminDashboard table tr td {
	padding:5px !important;
}

.adminDashboard table tr:hover td {
	background: palegoldenrod;
}

a.pagination-button{
	color:white;
	padding: 2px 12px;
	text-decoration: none;
	transition:background-color .3s;
	background-color: #337ab7;
	border:1px solid #ddd;
	font-size:22px;
	border-radius:2px;
}

.pull-right{
	float:right !important;
}
.pagination-div{
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
	min-height: 1px;
}
