.modal-wrapper {
  position: fixed;
  width: 200px;
  height: 200px;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  color: white;
}

.modal-item {
  align-self: center;
}
.glyphicon {
  font-size: 20px;
  padding: 10px;
  color: blue;
  cursor: pointer;
}

.btn {
  margin: 10px;
}